$primary-color: #006884;
$dark-color: #006884;
$active-color: #3b7a8b;
$btn-text-color: #ffffff;
:root {
    .btn-primary {
        --bs-btn-color: #ffffff;
        --bs-btn-hover-color: #ffffff;
        --bs-btn-active-color: #ffffff;
    }
}
